
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.bing.com/th?id=OIP.wqpL03VvmpYUimNmtm-z2wAAAA&w=190&h=180&c=7&o=5&pid=1.7">

    <title>Dopest Twitter Ever</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    

  </head>

  <body class="text-center mt-5">

    <div class="row mt-5">
      <div class="ml-sm-auto col-lg-4 px-4 mt-5">
      </div>

      <div class="ml-sm-auto col-lg-4 px-4 mt-5">
        <div class="card ">
            <img class="card-img-top" src="Static/tweet.jpeg" alt="Card image cap">
            <div class="card-body">
                
                    <h1 class="card-title h1 mb-3 font-weight-normal">Tweet Tweet</h1>
                
                    <form action="/login"  method="get">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
              
                    <br>
                    <form method="get" action="/register" >
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                  </form>
            </div>
        </div>
      </div>

      <div class=" ml-sm-auto col-lg-4 px-4 mt-5">
      </div>

    </div> 
  </body>
</html>